<%- include('partials/header') %>

<h1 class="text-2xl font-bold"><%= user.name %></h1>
<p>Joined on: <%= formatDate(user.joined) %></p>
<a class="text-blue-600" href="/users">Back to list</a>

<%- include('partials/footer') %>
