<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= title %></title>
</head>
<body>
  <h1><%= note.title %></h1>
  <p><%= note.content %></p>
  <p><a href="/notes">Back to notes list</a></p>
</body>
</html>
