<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
<h1 class="border-amber-300 bg-cyan-500">Give your details</h1>
        <form action="/thankyou" method="POST" >
        <input type="text" name="name" placeholder="Enter your name" class="p-4 bg-red-400"/>
        <input type="text" name="address" placeholder="Enter your address" />
        <input type="submit" class="bg-amber-300 "/>
        </form>
</body>
</html>